<div class="container-fluid" style="margin-top: 10px;">
  <div class="row" style=" margin-left: 178px;">
      <div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let items of datajson">
          <div class="{{items.class}}" id="maindiv">
        <mat-card (click)="opendilog(items)" style="width:203px;margin-top: 15px;">
        <img  [src]="items.image" alt="Photo of a Shiba Inu" style="height:86px;width:160px">
        
        <mat-card-header>
            <mat-card-title>{{items.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
             <!--  Manufacture:{{items.ingridents}} <br/>
              Storage:{{items.storage}}<br/>
              Camera:{{items.camera}}<br/>
              RS:{{items.price}} -->
              </p>
              </mat-card-content>
        </mat-card>
      </div>
        </div>
        
    </div>
</div>
<div class="ingredi" id="diving">
  <div style="background-color: lightblue;border:0.5px;height:35px;width:100%;border-radius:2px;margin-top: 25px; ">Ingridents</div>
  <span> 
        <input matInput placeholder="Enter Ingredients" type="text" id="ingredient" name="ingredient1" required [(ngModel)]="ingredient1"> 
        <input type="button" value="Add Ingredient" (click)="postingredients()"> </span>
  <ul *ngFor="let items of filterarray">
   <li>
       {{items}}
   </li>
  </ul>
</div>
